div.row.info:before {
  cursor: pointer;
  content: '\f107';
  font-family: FontAwesome;
  font-size: 20px;
  color: #fff;
  position: absolute;
  right: 12px;
  margin-top: 12px;
  transform: translateY(-50%);
}
div.row.info.active:before {
  content: '';
}
