.button.coefficient.selected {
  background-color:#fff;
  color: #c8304d;
  font-weight: bold;
  border: 1px solid black;
}
.betslip, .betslip-link {
  position: fixed;
  left: 50%;
  border-radius: 0 0 0 0;
}
.betslip-link.active div.flex-container {
  height: 51px;
}

.betslip-link-count:after {
  width: 20px;
  height: 20px;
  font-size: 13px;
}