.prematch {
  position: relative;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 109px);
  height: -webkit-calc(100vh - 109px);
  background-color: #21111b;
}
.prematch-header {
  background-color: #281420;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ccf;
}
.prematch-title-main {
  font-size: 1.3rem;
  color: #fff;
  padding-left: 11px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.inplay-link {
  display: inline-flex;
  padding-right: 23px;
  font-size: 14px;
  color: #e4e4e4;
  position: relative;
}
.live-text {
  display: inline;
  padding-right: 10px;
  color: red;
}
.inplay-text {
  padding-right: 5px;
  color: #fff;
}
.live-count {
  display: inline;
}
.live-count:after {
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  color: #9e9e9e;
  font-size: 1.1rem;
  position: absolute;
  right: 7px;
  top: 0;
  transform: rotate(-90deg);
}
.prematch-table .prematch-table-title__main {
  overflow: scroll;
  background-color: #33202B!important;
}
.prematch-table-title__main {
  white-space: nowrap;
  font-size: 1.1rem;
  position: relative;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid #000;
}
.prematch-table-title__main .item {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.1rem;
  vertical-align: top;
  color: #bbb;
  line-height: 36px;
  height: 36px;
  text-align: center;
  padding: 0;
  margin-right: 22px;
}
.prematch-table-title__main .selected {
  color: #e4e4e4;
  border-bottom: 3px solid #e4e4e4;
}
.prematch-table .container-fluid {
  /* overflow-y: auto!important; */
  -ms-overflow-style: none;
}
.market-group {
  border-top: 1px solid #000;
  position: relative;
}
.market-group.closed {
  max-height: 34px;
}
.market-group-text {
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  clear: both;
  background-color: #9F263D;
  font-size: 1.1rem;
  line-height: 16px;
  padding: 9px 11px 13px;
  color: #e4e4e4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.market-group-name {
  text-overflow: initial;
  /* overflow: hidden; */
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.market-group-name:after {
  content: "\f107";
  color: #fff;
  font-family: FontAwesome;
  font-size: 18px;
  position: absolute;
  right: 7px;
  top: 25%;
  transform: translateY(-50%);
}
.market-group.opened .market-group-name:after {
  transform: rotate(-180deg); 
  transition-duration: 0.5s; 
  margin-top: 0px;
}
.market-group.closed .market-group-name:after {
  transform: rotate(0deg); 
  transition-duration: 0.5s;
  /* margin-top: 0px; */
}
.market-group-container {
  display: table;
  table-layout: fixed;
  background-color: #666;
  width: 100%;
  font-size: 0;
}
.list-item {
  width: 100%;
}
.list-item.closed {
  position: relative;
  border-bottom: 1px solid #999;
  line-height: normal;
}
.list-item.opened {
  position: relative;
  border-bottom: 1px solid #999;
  line-height: normal;
}
.item-header {
  position: relative;
  line-height: 14px;
  font-size: 1.1rem;
  padding: 14px 26px 15px 26px;
  color: #e4e4e4;
  display: block;
  background-color: #888;
  margin: 0;
  vertical-align: middle;
  clear: both;
  font-weight: 700;
}
.coupon-list {
  /* position: relative;
  display: table;
  table-layout: fixed;
  background-color: #666;
  font-size: 0; */
  width: 100%;
}
.coupon-name {
  position: relative;
  width: 100%;
  background-color: #606060;
  font-size: .9rem;
  font-weight: normal;
  border-left: 4px solid #9f263d;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 8px 25px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  vertical-align: middle;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  /* line-height: 14px; */
}
.coupon-name:first-child {
  border-top: 1px solid #fff;
}
.col-label {
  background-color: #a7a7a7;
}
.no-markets {
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
}