.slider-text {
    font-size: 11px;
}

.sports-4:before{margin-left: 5px;}
.sports-1:before{margin-left: 5px;}
.sports-5:before{margin-left: 5px;}
.sports-6:before{margin-left: 5px;}
.sports-7:before{margin-left: 5px;}
.sports-8:before{margin-left: 5px;}
.sports-9:before{margin-left: 5px;}
.sports-10:before{margin-left: 5px;}
.sports-11:before{margin-left: 5px;}
.sports-12:before{margin-left: 5px;}
.sports-13:before{margin-left: 5px;}
.sports-14:before{margin-left: 5px;}
.sports-15:before{margin-left: 5px;}
.sports-16:before{margin-left: 5px;}
.sports-17:before{margin-left: 5px;}
.sports-18:before{margin-left: 5px;}
.sports-21:before{margin-left: 5px;}
.sports-22:before{margin-left: 5px;}
.sports-23:before{margin-left: 5px;}
.sports-24:before{margin-left: 5px;}
.sports-25:before{margin-left: 5px;}
.sports-26:before{margin-left: 5px;}
.sports-27:before{margin-left: 5px;}
.sports-28:before{margin-left: 5px;}
.sports-29:before{margin-left: 5px;}
.sports-30:before{margin-left: 5px;}
.sports-31:before{margin-left: 5px;}
.sports-32:before{margin-left: 5px;}
.sports-33:before{margin-left: 5px;}
.sports-34:before{margin-left: 5px;}
.sports-35:before{margin-left: 5px;}
.sports-36:before{margin-left: 5px;}
.sports-37:before{margin-left: 5px;}
.sports-38:before{margin-left: 5px;}
.sports-39:before{margin-left: 5px;}
.sports-40:before{margin-left: 5px;}
.sports-41:before{margin-left: 5px;}
.sports-42:before{margin-left: 5px;}
.sports-43:before{margin-left: 5px;}
.sports-44:before{margin-left: 5px;}
.sports-45:before{margin-left: 5px;}
.sports-46:before{margin-left: 5px;}
.sports-47:before{margin-left: 5px;}
.sports-48:before{margin-left: 5px;}
.sports-49:before{margin-left: 5px;}
.sports-50:before{margin-left: 5px;}
.sports-51:before{margin-left: 5px;}
.sports-52:before{margin-left: 5px;}
.sports-53:before{margin-left: 5px;}
.sports-54:before{margin-left: 5px;}
.sports-55:before{margin-left: 5px;}
.sports-56:before{margin-left: 5px;}
.sports-57:before{margin-left: 5px;}
.sports-58:before{margin-left: 5px;}
.sports-59:before{margin-left: 5px;}
.sports-60:before{margin-left: 5px;}
.sports-61:before{margin-left: 5px;}
.sports-62:before{margin-left: 5px;}
.sports-63:before{margin-left: 5px;}
.sports-64:before{margin-left: 5px;}
.sports-65:before{margin-left: 5px;}
.sports-66:before{margin-left: 5px;}
.sports-67:before{margin-left: 5px;}
.sports-68:before{margin-left: 5px;}
.sports-69:before{margin-left: 5px;}
.sports-70:before{margin-left: 5px;}
.sports-71:before{margin-left: 5px;}
.sports-72:before{margin-left: 5px;}
.sports-73:before{margin-left: 5px;}
.sports-74:before{margin-left: 5px;}
.sports-75:before{margin-left: 5px;}
.sports-76:before{margin-left: 5px;}
.sports-77:before{margin-left: 5px;}
.sports-78:before{margin-left: 5px;}
.sports-79:before{margin-left: 5px;}
.sports-80:before{margin-left: 5px;}
.sports-81:before{margin-left: 5px;}
.sports-82:before{margin-left: 5px;}
.sports-83:before{margin-left: 5px;}
.sports-84:before{margin-left: 5px;}
.sports-85:before{margin-left: 5px;}
.sports-86:before{margin-left: 5px;}
.sports-87:before{margin-left: 5px;}
.sports-88:before{margin-left: 5px;}
.sports-89:before{margin-left: 5px;}
.sports-90:before{margin-left: 5px;}
.sports-91:before{margin-left: 5px;}
.sports-92:before{margin-left: 5px;}
.sports-93:before{margin-left: 5px;}
.sports-94:before{margin-left: 5px;}
.sports-95:before{margin-left: 5px;}
.sports-96:before{margin-left: 5px;}
.sports-97:before{margin-left: 5px;}
.sports-98:before{margin-left: 5px;}
.sports-99:before{margin-left: 5px;}